.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  background-color: #f4f4f4;
}

.formWrapper {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.form-control {
  width: 100%;
}

p {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #dc3545;
}

.largerSearch {
  font-size: 18px;
  padding: 12px 20px;
}

.centeredButton {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #28a745;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  color: white;
}

.addButton {
  width: 50%;
  background-color: #2f8fde;
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 4px;
  color: white;
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
}