/* AddNewEntryPage.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.formWrapper {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 1.5rem;
}

.form-control {
  width: 100%;
  padding: 10px;
}

.error-message {
  font-size: 14px;
  color: #dc3545;
  margin-top: 5px;
}

.addButton {
  width: 100%;
  margin-top: 1rem;
}


.backLink {
  width: 50%;
  margin-top: 1.5rem;
  background-color: #2f8fde;
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 4px;
  color: white;
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
}

.backLink:hover {
  background-color: #24679e;
} 
 